body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

p {
  font-size: 20px;
}

.form-container {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
}

.url-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scraped-car-img {
  width: 350px;
}

.url-form input {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.url-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.url-form button:hover {
  background-color: #0056b3;
}

.data-section {
  background-color: #faf9f9;
  padding: 10px;
  border: 2px solid #ccc;
  margin-top: 20px;
}

.motors-section {
  background-color: #e6e6e6;
  padding: 10px;
  margin-top: 20px;
}
