:root {
  --primary-color: #0c55a2;
  --hover-color: #2e6cb9;
  --neutral-light: #faf9f9;
  --neutral-dark: #9c3838;
  --border-color: #a79d9d;
  --font-family-primary: 'Roboto', sans-serif;
  --font-family-secondary: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-family-primary);
  background-color: #e6e9ed;
  color: #333;
  margin: 0;
  padding: 0;
}

p {
  font-family: var(--font-family-secondary);
  font-size: 20px;
  margin-bottom: 16px;
}

h2 {
  font-size: 32px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid white;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2d1fa9e3 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.form-container {
  margin: 40px auto;
  padding: 20px;
  margin-top: 100px;
  border: 2px solid var(--border-color);
  max-width: 850px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(104, 101, 101, 0.15);
  background-color: var(--neutral-light);
  background: linear-gradient(#faf9f9, #d7d8ed51);
}

.header {
  font-size: 40px;
  text-align: center;
  padding: 1rem;
  color: var(--primary-color);
}

.top-info {
  font-size: 22px;
}

.url-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.scraped-car-img {
  width: 350px;
  margin-top: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.url-form input {
  width: calc(100% - 30px);
  height: 45px;
  padding: 0 15px;
  margin: 10px 0;
  border: 2.5px solid var(--border-color);
  border-radius: 4px;
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
  transition: border-color 0.3s ease;
}

.url-form input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.url-form button {
  margin-top: 20px;
  padding: 10px 20px;
  width: 125px;
  height: 50px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
  transition: background-color 0.3s ease;
}

.url-form button:hover {
  background-color: var(--hover-color);
}

.url-form button:disabled {
  background-color: var(--border-color);
  cursor: not-allowed;
}

.reg-text {
  margin-top: 5px;
}

.data-section, .motors-section, .fb-section {
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.data-section {
  background-color: var(--neutral-light);
  border: 1px solid var(--border-color); 
}

.motors-section {
  background-color: #ebf4f242;
  border: 1.5px solid var(--border-color);
}

.fb-section {
  background-color: #d7d8ed51;
  border: 1.5px solid var(--border-color) 
}

.motors-section img {
  max-width: 100%;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.motors-section img:hover {
  transition: all 0.2s ease;
  transform: scale(1.025);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #4d4c4c;
  overflow: auto;
  z-index: 1000;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar ul li a:hover {
  background-color: #7c7a7a;
  transition: all 0.1s ease;
}

.navbar ul li a.active {
  background-color: #4CAF50;
  color: white;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}